*{
	padding: 0;
	margin: 0;
}
body{
	background-color: #333;
}
#gameHolder{
	margin: auto;
	width: 800px;
	height: 600px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000;
}
#gameCanvas{
	display: block;
}